@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');

body{
    padding: 0;
    margin: 0;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: bold;
    color: rgb(208, 0, 0);
    text-shadow: 3px 3px 3px rgb(190, 190, 190), -3px -3px 5px white;
}
*{
    
    font-family: 'Edu NSW ACT Foundation', cursive;
    box-sizing: border-box;
    transition: .4s;
}
.parent{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 238, 238);
}

.box{
    overflow: hidden;
    box-shadow:inset 5px 5px 3px rgb(156, 156, 156),inset -3px -3px 5px white;
    width: 400px;
    height: 600px;
    background-color: rgb(240, 238, 238);
    border-radius: 20px;
    padding: 20px;
}

.search{
    position: relative;
    z-index: 4;
    box-shadow:inset 4px 4px 3px rgb(121, 121, 121),inset -3px -3px 5px white;
    width: 100%;

    padding: 5px 20px;
    border-radius: 40px;
    background-color: rgb(240, 238, 238);
}

.search input{
    width: 93%;
    padding: 5px;
    font-size: 23px;
    border:none;
    background-color: rgb(240, 238, 238);
}

.search input:focus{
    outline:none;
}


.container{
    background-color: rgb(240, 238, 238);
    margin-top: -20px;
    overflow: scroll;
    width: 100%;
  height: 97%;
}
.container .row{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    flex-direction: row;
    margin-top: 30px;
    width: 100%;
   
}
.circle{
    box-shadow:inset 3px 3px 3px rgb(190, 190, 190),inset -3px -3px 5px white;
    width: 130px;
    height: 130px;
    background-color: rgb(240, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container .row .img-box{

  
    width: 100px;
    height:100px;
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
}
.title
{
    box-sizing: border-box;
    width: 60%;
  
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container::-webkit-scrollbar{
    display: none;
}
h3,p{
    padding: 0;
    margin: 0;
}
p{
    font-size: 20px;
    
}
button{
    font-size: 20px;
    width: 190px;
    border: none;
    background-color: rgb(240, 238, 238);
    border-radius: 40px;
    padding: 3px;
    color: rgb(0, 0, 0);
    box-shadow:inset 3px 3px 3px rgb(190, 190, 190),inset -3px -3px 5px white;
    
}

button:hover{
    border:red 1px solid;
    box-shadow: 3px 3px 3px rgb(190, 190, 190), -3px -3px 5px white;
}

.img-box:hover{
    transform: scale(1.3);
}

inpu:focus >.search{
    box-shadow: 3px 3px 3px rgb(190, 190, 190), -3px -3px 5px white;
}